header {
    /* background */
    background-color: cornflowerblue;
    background-image: url("/img/pattern.png");
    background-size: 30%;
    height: 70px;
    padding-top: 25px;

    /* text  */
    color: white;
    text-shadow: 2px 1px 2px black;
    font-family: 'Courier New';
}

h1 {
    margin-top: 0;
    margin-left: 10px;
}

#header-the {
    position: relative;
    font-size: 15px;
    left:  25px;
    top: 20px;
    margin-top: 10px;
}

/********************/
/** title and info **/
/********************/

#h2-main {
    font-size: 50px;
    margin-bottom: 0;
}

#p-main1 {
    margin-bottom: 0;
    margin-top: 0;
    color: darkgray;
}

#p-main2 {
    margin-top: 0;
    color: darkgray;
}

/*********************/
/** first text area **/
/*********************/

#p-description-images {
    font-size: 12px;
    margin-top: 0;
}

ul {
    padding-left: 1%;
}

/*********************/
/******* table *******/
/*********************/

table {
    width: 100%;
    tr:nth-child(odd) {background-color:cornflowerblue}
    border-collapse: collapse;
    


}

th {
    text-align: left;
    color: white;
    background-color: dodgerblue;

}

td {
    text-align: left;
    padding: 10px;
    padding-left: 0;
}

/*********************/
/******* footer ******/
/*********************/

#footer-text {
    color: darkgrey;
}

.footer-img1 {
    width: 311px;
    height: 208px;
    background-image: url("/img/monitor.jpg");
    color: white;
    
}

.footer-img2 {
    width: 311px;
    height: 208px;
    background-image: url("/img/graph.jpg");
    color: white;
}
